:root { 
--gray_400:#bbbbbb; 
--bluegray_50:#eaecf0; 
--gray_901:#232629; 
--gray_900:#1e1b1d; 
--bluegray_100:#d6dae2; 
--green_600:#349765; 
--gray_50:#f4f8fd; 
--bluegray_900:#262b35; 
--bluegray_700:#424c5d; 
--bluegray_400:#74839d; 
--yellow_900:#f58025; 
--bluegray_200:#bac1ce; 
--gray_900_a2:#0d1624a2; 
--deep_orange_300:#ff7a59; 
--white_A700:#ffffff; 
}