
 @font-face { font-style : normal; src: url("assets/fonts/SourceSansProRegular.ttf"); font-family : "Source Sans Pro"; font-weight : 400;  }
 @font-face { font-style : bold; src: url("assets/fonts/SourceSansProSemiBold.ttf"); font-family : "Source Sans Pro"; font-weight : 600;  }